header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    left: 0;
    width: 100%;
    position: fixed;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
    color:aqua;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

.active {
    background-color: dodgerblue;
    color: white;
}

.conteudo {
    padding-top:50px;
    background-color: #FCFEFF;
    width: 100%;
    height: 100%;
}